html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #100F10;
}

.mainButton {
    border: 0.5px solid transparent;
    border-radius: 18px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight:400;
    background-color: transparent;
    color:  rgba(255,255,255, 0.67);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}


.mainButton:hover {
    background-color: #242424;
    cursor: pointer;
    border: 0.5px solid #363636;
    color:  rgba(255,255,255, 0.96);
    transition: 0.2s;
}

.mainButtonColor {
    border: none;
    border-radius: 18px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight:500;
    background-color: #8739f9;
    background-image: linear-gradient(90deg, rgba(135,57,249,1) 0%, rgba(198,81,205,1) 50%, rgba(223,109,245,1) 100%);
    color:  rgba(255,255,255, 0.96);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease; 
    -webkit-transition: background 0.3s ease;
}

.mainButtonColor:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgba(135,57,249,0.92) 0%, rgba(198,81,205,0.92) 50%, rgba(223,109,245,0.92) 100%);
    transition: background 0.3s ease; 
    -webkit-transition: background 0.3s ease;
}

.dropdownContainer {
    position: relative;
}

.dropdownMenu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    padding-top: 8px;
}

.dropdownContainer:hover .dropdownMenu {
    display: block;
}

.dropdownSelect {
    display: flex;
    flex-direction: column;
    background-color: #100F10;
    border: 0.5px solid #363636;
    border-radius: 8px;
    overflow: hidden;
}

.mainButtonSelect {
    border: 0.5px solid transparent;
    padding: 8px 16px;
    font-size: 14px;
    font-weight:400;
    background-color: transparent;
    color:  rgba(255,255,255, 0.67);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.mainButtonSelect:hover {
    background-color: #242424;
    cursor: pointer;
    border: 0.5px solid #363636;
    color:  rgba(255,255,255, 0.96);
    transition: 0.2s;
}