.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 76px;
    /* background: #19191c; */
    box-sizing: border-box;
    font-size: 14px;
    /* padding: 0px 220px; */
    /* border-bottom: 0.5px solid #e0e0e0; */
}

.navbarScroll {
    background: linear-gradient( 135deg , rgba(255,255,255,0.1) rgba(255,255,255,0));
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    transition: 0.8s;
}

.navbar ul {
    list-style: none;
    display: flex;
}

/* .navbar ul li {
    padding: 0 20px;
} */

.link{
    text-decoration: none;
    /* color: #e0e0e0; */
}

.navContent {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: flex;
    align-items: center;
    min-height: 60px;
    justify-content: space-between;
}

@media (min-width:1200px) {
    .navContent {
        max-width: 1200px;
    }
}

@media (min-width:600px) {
    .navContent {
        padding-left: 24px;
        padding-right: 24px;
    }
}


.rightMenu {
    display: flex;
    align-items: center;
    margin: 0px 24px;
}

.navigation {
    display: flex;
    align-items: center;
    margin: 0px 24px;
}

.css-1914l99 {
    width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 60px;
}