.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 76px;
    /* background: #19191c; */
    box-sizing: border-box;
    font-size: 14px;
    padding: 0px 220px;
    /* border-bottom: 0.5px solid #e0e0e0; */
}

.navbarScroll {
    background: linear-gradient( 135deg , rgba(255,255,255,0.1) rgba(255,255,255,0));
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    transition: 0.8s;
}

.navbar ul {
    list-style: none;
    display: flex;
}

/* .navbar ul li {
    padding: 0 20px;
} */

.link{
    text-decoration: none;
    /* color: #e0e0e0; */
}



.rightMenu {
    display: flex;
    align-items: center;
    margin: 0px 24px;
}

.navigation {
    display: flex;
    align-items: center;
    margin: 0px 24px;
}

/* .dropdown {
    position: relative;
}

.dropdownMenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdownMenu {
    display: block;
} */